@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #24252A;
	}

li,a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
	}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	background-image:url("Mainpic.jpg");
  	background-size: cover;
  	background-attachment: fixed;
	}
.logo{
	cursor: pointer;
	float: left;
    padding: 12px 15px;
    font-size: 19px;
    line-height: 21px;
    height: 62px;
    max-width: 220px;
    display: table;
	}	
.nav__links{
	list-style: none;
}
.nav__links li{
	display: inline-block;
	padding: 0px 20px;
}
.nav__links li a{
	transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
	color: #0088a9;
}

 